<%= form_for @story do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body, "Starter sentence for your story" %>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :creator, "Your Name" %>
    <%= f.text_field :creator, class: "form-control" %>
  </div>
  <%= f.submit "Submit", class: "btn btn-default center-block" %>
<% end %>
