<div class="jumbotron">
  <h1><%= @story.title %><small> started by <%= @story.creator %></h1>
  <p>
    <%= @story.body %>
    <% @story.additions.each do |addition| %>
      <%= addition.body %>
    <% end %>
  </p>
  <p class=pull-right><%= link_to "Edit", edit_story_path(@story) %> | <%= link_to "Delete", story_path(@story),
                                                                                    :data => {:confirm => "Are u sure?",
                                                                                              :method => "delete"} %></p>
</div>

<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Story History:</h3>
  </div>
  <div class="panel-body">
    <h4 class="text-center"><%= @story.body %> (from <%= @story.creator %>)</h4>
  </div>
  <ul class="list-group">
    <% @story.additions.each do |addition| %>
      <li class="list-group-item clearfix"><%= image_tag("halloween/#{addition.image.name}.svg", size: "37") %> <h4 class="pull-right clearfix" style="padding: -37px 0px 0px 66px"><%= addition.body %> (from <%= addition.author %>)</h4> <%= link_to "Edit Contribution", edit_addition_path(addition) %></li>
    <% end %>
  </ul>
</div>
<h3 class="pull-right"><%= link_to "Add to this story!", new_story_addition_path(@story) %></h3>
