<h1>New Addition to <%= @story.title %></h1>

<%= image_tag("halloween/#{@image.name}.svg", size: "666") %>

<p>
  Using the image above, generate an addition to the story!
</p>

<%= form_for [@story, @addition] do |f| %>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <%= f.label :author %>
  <%= f.text_field :author %>
  <%= f.hidden_field :image_id, :value => @image.id %>
  <%= f.submit %>
<% end %>
